<!DOCTYPE html>
<html lang="en">
<head>
    <title>Application to become Merchant</title>
</head>
<body>
<div style='font-family: Arial, Helvetica, sans-serif; margin-inline: auto;padding-left: 20px'>
    <p>Hi {{ $name }},</p>
    <p>Thank you for your interest in becoming a merchant with us. Please use the following are the details you sent to become a merchant</p>
    <div style="font-style: italic;font-weight: bold;">
        <p>Wallet Address: {{ $walletAddress }}</p>
        <p>Transaction Hash ID: {{ $transactionHashId }}</p>
        <p>Amount Staked: {{ $amount }}</p>
    </div>
    <p>Kindly note that your application will be reviewed and you will be contacted if your application is successful.</p>
    <p>Thank you for choosing us.</p>
    <br>
    <p>Team {{ $app_name }}</p>
</div>
</body>
</html>